body{
    background-color:silver
}

#Animal{
position: absolute;
 top: 150px;
 left: 60px;
  border: solid 3px white;
  background-color:lightseagreen;
 }

 #gratidao{
     position: absolute;
left: 200px;
border: solid yellow 3px;
    background-color: mediumaquamarine;
 }

#casa{
    position: absolute;
   border: 3px solid rgb(34, 23, 4);
   background-color: peru;
   
}